# Importing Required Libraries

In [1]:
#Importing the Required Libraries
!pip install opencage
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from opencage.geocoder import OpenCageGeocode
from pprint import pprint
###""""from google.colab import drive
### drive.mount('/content/drive')""""

Collecting opencage
  Downloading opencage-3.0.4-py3-none-any.whl.metadata (7.7 kB)
Requirement already satisfied: Requests>=2.31.0 in /usr/local/lib/python3.11/dist-packages (from opencage) (2.32.3)
Collecting backoff>=2.2.1 (from opencage)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: tqdm>=4.66.4 in /usr/local/lib/python3.11/dist-packages (from opencage) (4.67.1)
Requirement already satisfied: certifi>=2024.07.04 in /usr/local/lib/python3.11/dist-packages (from opencage) (2025.1.31)
Requirement already satisfied: aiohttp>=3.10.5 in /usr/local/lib/python3.11/dist-packages (from opencage) (3.11.11)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.10.5->opencage) (2.4.4)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.10.5->opencage) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.10.5->opencage) (25.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.10.5->opencage) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.10.5->opencage) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.10.5->opencage) (0.2.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.10.5->opencage) (1.18.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from Requests>=2.31.0->opencage) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from Requests>=2.31.0->opencage) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from Requests>=2.31.0->opencage) (2.3.0)
Downloading opencage-3.0.4-py3-none-any.whl (22 kB)
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Installing collected packages: backoff, opencage
Successfully installed backoff-2.2.1 opencage-3.0.4

In [ ]:
#Reading the Database
df = pd.read_csv("CBB_Listings_LongLat.csv")

# Original Dataset

### Shape
This line of code is used to get the dimensions of the dataset. It returns the number of rows and columns in the DataFrame.

In [ ]:
df.shape

(145114, 49)

### Basic Stats
`describe()` provides a summary of statistical information for the numerical columns in the DataFrame. It includes metrics like count (number of non-null entries), mean (average), standard deviation (how spread out the numbers are), min (minimum value), and max (maximum value) which give insights into the data distribution.

In [ ]:
df.describe()

,days_on_market,dealer_id,Latitude,Longitude,dealer_email,vehicle_id,uvc,mileage,price,msrp,model_year,certified,has_leather,has_navigation,price_analysis,wheelbase_from_vin,number_price_changes,distance_to_dealer,location_score
count,145114.000000,1.451140e+05,145114.000000,145114.000000,0.0,145114.000000,1.451140e+05,1.451140e+05,1.451140e+05,145114.000000,145114.000000,145114.000000,145114.0,145114.0,145114.000000,145114.000000,145114.000000,145114.000000,145114.000000
mean,47.810218,1.115641e+07,53.539109,-113.531246,NaN,513749.054006,2.021818e+09,4.598501e+04,4.786611e+04,51247.428229,2021.361157,0.006602,0.0,0.0,0.082928,3026.472990,3.504782,9.436435,3.010984
std,57.862393,4.389865e+04,0.183602,1.198429,NaN,94034.105057,3.557037e+06,6.227304e+04,9.070245e+04,21760.734381,3.542539,0.080983,0.0,0.0,0.275774,559.718857,7.765742,6.226795,2.104691
min,1.000000,1.112677e+07,22.445247,-113.903261,NaN,66737.000000,1.987160e+09,0.000000e+00,0.000000e+00,0.000000,1987.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,1.230000,0.000000
25%,14.000000,1.112884e+07,53.539442,-113.589133,NaN,480906.000000,2.020161e+09,1.500000e+01,2.699000e+04,35149.000000,2020.000000,0.000000,0.0,0.0,0.000000,2700.000000,0.000000,6.090000,1.000000
50%,26.000000,1.113164e+07,53.576926,-113.570655,NaN,558583.000000,2.023360e+09,9.650000e+03,4.190000e+04,48035.000000,2023.000000,0.000000,0.0,0.0,0.000000,2850.000000,1.000000,7.420000,4.000000
75%,59.000000,1.116104e+07,53.582383,-113.489730,NaN,580271.000000,2.024340e+09,8.011900e+04,6.277025e+04,63045.000000,2024.000000,0.000000,0.0,0.0,0.000000,3342.000000,3.000000,9.400000,5.000000
max,367.000000,1.125746e+07,53.705860,114.030416,NaN,599912.000000,2.024960e+09,1.000008e+06,1.309532e+07,315100.000000,2024.000000,1.000000,0.0,0.0,1.000000,5014.000000,154.000000,29.660000,5.000000

### Preview of Data
This line displays the first few rows of the DataFrame (usually the first five rows). It’s a quick way to preview the dataset and understand its structure and some initial values.

In [ ]:
df.head()

,listing_id,listing_heading,listing_type,listing_url,listing_first_date,days_on_market,dealer_id,dealer_name,dealer_street,dealer_city,...,wheelbase_from_vin,drivetrain_from_vin,engine_from_vin,transmission_from_vin,fuel_type_from_vin,number_price_changes,price_history_delimited,distance_to_dealer,location_score,listing_dropoff_date
0,f5b663d2-4896-11ef-a15b-8b4423f1ff08,1987 IROC Z 350 Auto T-Tops,Active,https://www.kijiji.ca/v-cars-trucks/edmonton/1...,7/22/2024 0:00,9,11152931,David T's Camaro & Firebird Auto Center,10611 201 St NW,Edmonton,...,0.0,RWD,5.7L V8 TBI,A,Gas,0,"2024-07-22,11500,230860",9.84,5,NaN
1,a9f565e6-4712-11ef-a23f-79dc25c5e601,NaN,Sold,https://www.redlinemotors.ca/vehicle-details/1...,7/20/2024 0:00,4,11131329,Redlinemotors.Ca,14421 Mark Messier Trail,Edmonton,...,0.0,RWD,5.2L V8,A,Gas,0,"2024-07-20,8700,48905",8.30,5,7/24/2024 0:00
2,03d18c58-253a-11ef-8f33-8905b4a2f000,1989 Cadillac DeVille Sedan FWD,Active,https://www.sweetheartmotor.com/cars/used/1989...,6/7/2024 0:00,54,11161704,Gateway Auto & Rv Sales & Financing Ltd,5404 Gateway Blvd NW,Edmonton,...,0.0,FWD,4.5L V8 DI,A,Gas,0,"2024-06-07,6000,174640",5.71,4,NaN
3,2d12630b-460e-11ee-89c4-e5b3161d4741,1989 Cadillac DeVille Sedan FWD,Active,https://www.sweetheartmotor.com/cars/used/1989...,8/28/2023 0:00,338,11128265,Credit Angels,5404 Gateway Blvd NW,Edmonton,...,0.0,FWD,4.5L V8 DI,A,Gas,4,"2023-08-28,4500,174640:2023-09-13,5900,174640:...",5.71,5,NaN
4,53a8e550-47cd-11ef-8587-f926ecb61035,1989 Camaro IROC 350 Auto T-Top,Active,https://www.kijiji.ca/v-cars-trucks/edmonton/1...,7/21/2024 0:00,10,11152931,David T's Camaro & Firebird Auto Center,10611 201 St NW,Edmonton,...,0.0,RWD,5.7L V8 TBI,A,Gas,0,"2024-07-21,8500,288000",9.84,5,NaN

### Datatypes
This command is typically used to get a quick overview of the data types for all the columns in the dataset, which is helpful for further data cleaning and preparation steps.

In [ ]:
df.dtypes

listing_id                  object
listing_heading             object
listing_type                object
listing_url                 object
listing_first_date          object
days_on_market               int64
dealer_id                    int64
dealer_name                 object
dealer_street               object
dealer_city                 object
dealer_province             object
dealer_postal_code          object
Latitude                   float64
Longitude                  float64
Lat Lon                     object
dealer_url                  object
dealer_email               float64
dealer_phone                object
dealer_type                 object
stock_type                  object
vehicle_id                   int64
vin                         object
uvc                          int64
mileage                      int64
price                        int64
msrp                         int64
model_year                   int64
make                        object
model                       object
series                      object
style                       object
certified                    int64
has_leather                  int64
has_navigation               int64
exterior_color              object
exterior_color_category     object
interior_color              object
interior_color_category     object
price_analysis               int64
wheelbase_from_vin         float64
drivetrain_from_vin         object
engine_from_vin             object
transmission_from_vin       object
fuel_type_from_vin          object
number_price_changes         int64
price_history_delimited     object
distance_to_dealer         float64
location_score               int64
listing_dropoff_date        object
dtype: object

# New Dataframe

### Required Features
This line defines a list of column names that are needed for our analysis. These are the specific columns that we want to keep from the larger dataset. Listing these columns helps us to focus on only the relevant data.

In [ ]:
# List of columns we need.
columns = [
    "listing_id",
    "listing_type",
    "listing_first_date",
    "days_on_market",
    "dealer_id",
    "dealer_name",
    "dealer_street",
    "dealer_city",
    "dealer_province",
    "dealer_postal_code",
    "stock_type",
    "vehicle_id",
    "vin",
    "mileage",
    "Latitude",
    "Longitude",
    "price",
    "model_year",
    "make",
    "model",
    "style",
    "drivetrain_from_vin",
    "engine_from_vin",
    "transmission_from_vin",
    "fuel_type_from_vin",
    "distance_to_dealer"
]

### Creating new Dataframe
The line creates a new DataFrame called df_new that includes only the columns listed in the columns list. This step is essentially filtering the original DataFrame (df) to keep only the data we are interested in, making the dataset smaller and more manageable for further analysis.

In [ ]:
df_new = df[columns]

In [ ]:
df_new.head()

,listing_id,listing_type,listing_first_date,days_on_market,dealer_id,dealer_name,dealer_street,dealer_city,dealer_province,dealer_postal_code,...,price,model_year,make,model,style,drivetrain_from_vin,engine_from_vin,transmission_from_vin,fuel_type_from_vin,distance_to_dealer
0,f5b663d2-4896-11ef-a15b-8b4423f1ff08,Active,7/22/2024 0:00,9,11152931,David T's Camaro & Firebird Auto Center,10611 201 St NW,Edmonton,AB,T5S 1Y8,...,11500,1987,Chevrolet,Camaro,2D Coupe,RWD,5.7L V8 TBI,A,Gas,9.84
1,a9f565e6-4712-11ef-a23f-79dc25c5e601,Sold,7/20/2024 0:00,4,11131329,Redlinemotors.Ca,14421 Mark Messier Trail,Edmonton,AB,T6V 1H4,...,8700,1988,Chrysler,Fifth Avenue,4D Sedan,RWD,5.2L V8,A,Gas,8.30
2,03d18c58-253a-11ef-8f33-8905b4a2f000,Active,6/7/2024 0:00,54,11161704,Gateway Auto & Rv Sales & Financing Ltd,5404 Gateway Blvd NW,Edmonton,AB,T6H 1B7,...,6000,1989,Cadillac,DeVille,4D Sedan,FWD,4.5L V8 DI,A,Gas,5.71
3,2d12630b-460e-11ee-89c4-e5b3161d4741,Active,8/28/2023 0:00,338,11128265,Credit Angels,5404 Gateway Blvd NW,Edmonton,AB,T6H 1B7,...,6000,1989,Cadillac,DeVille,4D Sedan,FWD,4.5L V8 DI,A,Gas,5.71
4,53a8e550-47cd-11ef-8587-f926ecb61035,Active,7/21/2024 0:00,10,11152931,David T's Camaro & Firebird Auto Center,10611 201 St NW,Edmonton,AB,T5S 1Y8,...,8500,1989,Chevrolet,Camaro,2D Coupe,RWD,5.7L V8 TBI,A,Gas,9.84

# Data Cleaning

### Checking for Null Values
The `isnull()` function in this block of code checks for missing (null) values in the dataframe df_new and `.sum()` counts the total number of null values for each column, providing a summary of missing data in the dataset.

In [ ]:
#Checking for Null values
print(df_new.isnull().sum())

listing_id               0
listing_type             0
listing_first_date       0
days_on_market           0
dealer_id                0
dealer_name              0
dealer_street            0
dealer_city              0
dealer_province          0
dealer_postal_code       0
stock_type               0
vehicle_id               0
vin                      0
mileage                  0
Latitude                 0
Longitude                0
price                    0
model_year               0
make                     0
model                    0
style                    0
drivetrain_from_vin      0
engine_from_vin          0
transmission_from_vin    0
fuel_type_from_vin       0
distance_to_dealer       0
dtype: int64

###Checking number of unique entries for each city

In [ ]:
df_new["dealer_city"].value_counts()

dealer_city
Edmonton             119541
Sherwood Park         10943
Leduc                  9282
St Albert              2329
Spruce Grove           1346
Fort Saskatchewan       944
Devon                   259
Acheson                 237
Nisku                   233
Name: count, dtype: int64

### Counting number of enteries in each column

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145114 entries, 0 to 145113
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   listing_id             145114 non-null  object
 1   listing_type           145114 non-null  object
 2   listing_first_date     145114 non-null  object
 3   days_on_market         145114 non-null  int64
 4   dealer_id              145114 non-null  int64
 5   dealer_name            145114 non-null  object
 6   dealer_street          145114 non-null  object
 7   dealer_city            145114 non-null  object
 8   dealer_province        145114 non-null  object
 9   dealer_postal_code     145114 non-null  object
 10  stock_type             145114 non-null  object
 11  vehicle_id             145114 non-null  int64
 12  vin                    145114 non-null  object
 13  mileage                145114 non-null  int64
 14  Latitude               145114 non-null  float64
 15  Longitude              145114 non-null  float64
 16  price                  145114 non-null  int64
 17  model_year             145114 non-null  int64
 18  make                   145114 non-null  object
 19  model                  145114 non-null  object
 20  style                  145114 non-null  object
 21  drivetrain_from_vin    145114 non-null  object
 22  engine_from_vin        145114 non-null  object
 23  transmission_from_vin  145114 non-null  object
 24  fuel_type_from_vin     145114 non-null  object
 25  distance_to_dealer     145114 non-null  float64
dtypes: float64(3), int64(6), object(17)
memory usage: 28.8+ MB

### Datatypes in new dataframe

In [ ]:
df_new.dtypes

listing_id                object
listing_type              object
listing_first_date        object
days_on_market             int64
dealer_id                  int64
dealer_name               object
dealer_street             object
dealer_city               object
dealer_province           object
dealer_postal_code        object
stock_type                object
vehicle_id                 int64
vin                       object
mileage                    int64
price                      int64
model_year                 int64
make                      object
model                     object
style                     object
drivetrain_from_vin       object
engine_from_vin           object
transmission_from_vin     object
fuel_type_from_vin        object
distance_to_dealer       float64
location_score             int64
dtype: object

# Converting postal codes to latitude and longitude

In [ ]:
#Getting the list of postal o=codes
postal_codes = list(df_new["dealer_postal_code"].unique())

In [ ]:
print(len(postal_codes))
print(postal_codes)

185
['T5S 1Y8', 'T6V 1H4', 'T6H 1B7', 'T6X 1A1', 'T8N 7X1', 'T5L 4H5', 'T6E 0G7', 'T8H 2N1', 'T9E 6T9', 'T5V 0C3', 'T5L 5H7', 'T5J 2E5', 'T5J 2R7', 'T5B 2N1', 'T6E 5P2', 'T8H 0X5', 'T8H 0R5', 'T6H 1H1', 'T6E 6A4', 'T6H 4J7', 'T5A 1C3', 'T5Y 3B2', 'T9E 0Z7', 'T6E 5T6', 'T5S 0A2', 'T5E 4C7', 'T5S 1E4', 'T5B 1K3', 'T6E 4C6', 'T6E 5W8', 'T9E 0W8', 'T6E 6V6', 'T5B 1G2', 'T5S 1X2', 'T7X 3A6', 'T5L 4P6', 'T5S 2C3', 'T5R 1Y5', 'T5B 1K2', 'T6E 5P8', 'T9E 7A7', 'T8H 1N1', 'T6H 2K4', 'T5S 1S1', 'T8L 3K8', 'T6B 0G3', 'T5S 1M9', 'T5E 0E2', 'T7X 6A5', 'T6A 3A4', 'T6E 5Z5', 'T5H 0Y5', 'T5H 3K1', 'T6C 4H8', 'T5B 0S4', 'T5G 2Z1', 'T5L 2L5', 'T6V 1J1', 'T9E 7L1', 'T5G 0A8', 'T5C 3C2', 'T5L 2J8', 'T8H 2A2', 'T5S 1B1', 'T6E 6G7', 'T8N 2Y3', 'T6N 1H8', 'T9E 7A9', 'T5S 1A4', 'T5S 1C6', 'T5B 0S9', 'T6W 3G9', 'T6N 1C1', 'T5W 1A8', 'T7X 2Y3', 'T6E 5X9', 'T6K 4E7', 'T5B 4G9', 'T6X 0S8', 'T5G 0H8', 'T6B 2H8', 'T6E 6J6', 'T5G 0B1', 'T5B 1Y2', 'T6E 3J2', 'T8H 1B4', 'T6E 2B1', 'T6E 0X6', 'T6E 0K9', 'T6B 2J8', 'T5G 1R2', 'T6E 4P2', 'T5B 1K1', 'T5S 1R1', 'T5V 1K8', 'T8H 0C7', 'T6J 6V4', 'T5S 1P9', 'T5B 0C4', 'T5W 1G3', 'T5B 1N2', 'T6H 2K8', 'T5S 2A1', 'T6E 5A6', 'T5S 2X1', 'T5E 6M7', 'T5S 0B9', 'T5A 2W9', 'T5G 3E5', 'T6B 0B7', 'T8L 3V5', 'T5S 1N9', 'T8A 4N5', 'T6H 4J8', 'T8H 0E1', 'T5C 0A3', 'T5L 2J7', 'T8N 3Z7', 'T5A 1C2', 'T6W 2P6', 'T5W 1E5', 'T6A 0A7', 'T5E 4C9', 'T5E 1Y8', 'T9E 8A5', 'T6H 5W5', 'T5B 0S6', 'T5S 1N4', 'T5T 3J7', 'T5H 2S8', 'T5S 0A1', 'T8L 0P6', 'T6E 6S9', 'T6E 6L1', 'T6B 2H5', 'T5S 1P5', 'T5M 4G4', 'T5S 2Y4', 'T5S 1B4', 'T9E 7C7', 'T5S 1A7', 'T6V 1H5', 'T6E 5R2', 'T7X 5A3', 'T6B 2T4', 'T6X 1E9', 'T5H 2G1', 'T6E 4W8', 'T6B 2Z9', 'T8H 0M2', 'T5S 2X6', 'T8N 3X9', 'T5S 0J5', 'T6E 6B3', 'T5E 4C4', 'T8N 5A5', 'T5P 4M9', 'T5B 4H8', 'T5M 2R8', 'T5G 0N8', 'T6B 3L9', 'T5S 2C8', 'T6E 4N7', 'T9G 1B2', 'T5L 3C1', 'T6E 5X8', 'T5S 0A8', 'T6H 2H3', 'T6H 5X8', 'T5L 4P3', 'T5H0Y5', 'T5L 2Y6', 'T6H 2J4', 'T6E 6G4', 'T5H2F8', 'T5L 3C5', 'T6C 4A5', 'T9E 0R8', 'T5S 0A6', 'T6W 1A1', 'T5L 2G7', 'T5G 0N9', 'T5S1B4', 'T5S0A1', 'T5S1A7']

In [ ]:
#API key
key = '7dabccf70b6a4501a66b893838e6dd80'
geocoder = OpenCageGeocode(key)

In [ ]:
#Initiating the Dictionary to store latitude and longitude for each postal code
coordinates = {}
for postal_code in postal_codes:
  results = geocoder.geocode(postal_code)
  coordinates[postal_code] = (results[0]['geometry']['lat'],results[0]['geometry']['lng'])

KeyboardInterrupt:

In [ ]:
print(coordinates)

In [ ]:
#Converting the Dictionary to Dataframe

df_coord = pd.DataFrame(coordinates).T
# Transpose the DataFrame to get the desired format

# Rename the columns
df_coord.columns = ['Latitude', 'Longitude']

# Reset index to make Postal Codes a column
df_coord.reset_index(inplace=True)

# Rename index column to 'Postal Code'
df_coord.rename(columns={'index': 'Postal Code'}, inplace=True)

# Display DataFrame
print(df_coord)

In [ ]:
df_coord.to_csv("dealer_coordinates.csv", index=False)

# Data Encoding

In [ ]:
# This newdf was created in excel after we obtain all the coordinates (longitude and latitude)
# for all unique Postal Codes in the original dataset. Since are creating a dashboard in PowerBi
# a csv file was needed, and now uploaded in this block
df = pd.read_csv("CBB_Listings_LongLat.csv")

In [ ]:

columns = [
    "listing_type",
    "dealer_id",
    "dealer_name",
     "listing_first_date",
    "dealer_postal_code",
    "Latitude",
    "Longitude",
    "stock_type",
    "vehicle_id",
    "vin",
    "mileage",
    "price",
    "model_year",
    "make",
    "model",
    "drivetrain_from_vin",
    "fuel_type_from_vin",
]
new_df = df[columns]
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145114 entries, 0 to 145113
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   listing_type         145114 non-null  object
 1   dealer_id            145114 non-null  int64
 2   dealer_name          145114 non-null  object
 3   listing_first_date   145114 non-null  object
 4   dealer_postal_code   145114 non-null  object
 5   Latitude             145114 non-null  float64
 6   Longitude            145114 non-null  float64
 7   stock_type           145114 non-null  object
 8   vehicle_id           145114 non-null  int64
 9   vin                  145114 non-null  object
 10  mileage              145114 non-null  int64
 11  price                145114 non-null  int64
 12  model_year           145114 non-null  int64
 13  make                 145114 non-null  object
 14  model                145114 non-null  object
 15  drivetrain_from_vin  145114 non-null  object
 16  fuel_type_from_vin   145114 non-null  object
dtypes: float64(2), int64(5), object(10)
memory usage: 18.8+ MB

In [ ]:
columns_cluster = [
    "dealer_id",
    "listing_type",
    "Latitude",
    "Longitude",
    "stock_type",
    "vin",
    "make",
    "model",
    "mileage",
    "price",
    "model_year",
]
cluster_df = df[columns_cluster]
cluster_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145114 entries, 0 to 145113
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   dealer_id     145114 non-null  int64
 1   listing_type  145114 non-null  object
 2   Latitude      145114 non-null  float64
 3   Longitude     145114 non-null  float64
 4   stock_type    145114 non-null  object
 5   vin           145114 non-null  object
 6   make          145114 non-null  object
 7   model         145114 non-null  object
 8   mileage       145114 non-null  int64
 9   price         145114 non-null  int64
 10  model_year    145114 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 12.2+ MB

In [ ]:
import pandas as pd

# Sample boundaries for Edmonton regions - adjust as needed for precision
def assign_region(latitude, longitude):
    # Central Region (example coordinates)
    if 53.53 <= latitude <= 53.58 and -113.52 <= longitude <= -113.45:
        return 'Central'
    # North Region
    elif latitude > 53.58:
        return 'North'
    # South Region
    elif latitude < 53.53:
        return 'South'
    # East Region
    elif longitude > -113.45:
        return 'East'
    # West Region
    elif longitude < -113.52:
        return 'West'
    else:
        return 'Unknown'  # For any other coordinates outside the specified bounds

# Apply the function to your DataFrame
cluster_df['region'] = cluster_df.apply(lambda row: assign_region(row['Latitude'], row['Longitude']), axis=1)

# Display the DataFrame with regions
print(cluster_df[['dealer_id', 'Latitude', 'Longitude', 'region']].head())

   dealer_id   Latitude   Longitude region
0   11152931  53.549233 -113.666536   West
1   11131329  53.604536 -113.578942  North
2   11161704  53.492482 -113.493143  South
3   11128265  53.492482 -113.493143  South
4   11152931  53.549233 -113.666536   West

<ipython-input-79-82cfd68263b8>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_df['region'] = cluster_df.apply(lambda row: assign_region(row['Latitude'], row['Longitude']), axis=1)

In [ ]:
# Step 1: Define the Composite Key
# Use the relevant columns to create a composite key. The key will help identify unique vehicles across branches.
cluster_df.loc[:, 'composite_key'] = cluster_df['vin'].astype(str) + '_' + cluster_df['model_year'].astype(str) + '_' + cluster_df['make'] + '_' + cluster_df['mileage'].astype(str)

# Step 2: Sort the DataFrame by Listing Status and Date
# If 'listing_first_date' is not present, create a placeholder date.
if 'listing_first_date' not in cluster_df.columns:
    cluster_df.loc[:, 'listing_first_date'] = pd.Timestamp('1970-01-01')
else:
    cluster_df.loc[:, 'listing_first_date'] = pd.to_datetime(cluster_df['listing_first_date'])

# Check if 'listing_Active' column exists
if 'listing_Active' in cluster_df.columns:
    # Sort to prioritize active listings over sold listings and by most recent date.
    cluster_df = cluster_df.sort_values(by=['composite_key', 'listing_Active', 'listing_first_date'], ascending=[True, False, False])
else:
    # If 'listing_Active' is missing, sort only by composite key and listing date.
    cluster_df = cluster_df.sort_values(by=['composite_key', 'listing_first_date'], ascending=[True, False])

# Step 3: Remove Duplicate Listings within a Specified Time Window
# Define a time window (e.g., X days) to identify vehicles that are relisted after a short period.
time_window = pd.Timedelta(days=30)

# Use a custom function to identify duplicates within the time window.
def filter_recent_duplicates(df):
    unique_listings = []
    last_seen = {}

    for idx, row in df.iterrows():
        key = row['composite_key']
        listing_date = row['listing_first_date']

        if key not in last_seen or (listing_date - last_seen[key]) > time_window:
            unique_listings.append(idx)
            last_seen[key] = listing_date

    return df.loc[unique_listings]

# Apply the function to filter out the duplicates.
cluster_df = filter_recent_duplicates(cluster_df)

# Step 4: Reset Index and Clean Up
# Reset index after filtering.
cluster_df.reset_index(drop=True, inplace=True)

# Drop the 'composite_key' column if no longer needed.
cluster_df.drop(columns=['composite_key'], inplace=True)

<ipython-input-80-849a46d57f0c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_df.loc[:, 'composite_key'] = cluster_df['vin'].astype(str) + '_' + cluster_df['model_year'].astype(str) + '_' + cluster_df['make'] + '_' + cluster_df['mileage'].astype(str)
<ipython-input-80-849a46d57f0c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_df.loc[:, 'listing_first_date'] = pd.Timestamp('1970-01-01')

In [ ]:
cluster_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109531 entries, 0 to 109530
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   dealer_id           109531 non-null  int64
 1   listing_type        109531 non-null  object
 2   Latitude            109531 non-null  float64
 3   Longitude           109531 non-null  float64
 4   stock_type          109531 non-null  object
 5   vin                 109531 non-null  object
 6   make                109531 non-null  object
 7   model               109531 non-null  object
 8   mileage             109531 non-null  int64
 9   price               109531 non-null  int64
 10  model_year          109531 non-null  int64
 11  region              109531 non-null  object
 12  listing_first_date  109531 non-null  datetime64[s]
dtypes: datetime64[s](1), float64(2), int64(4), object(6)
memory usage: 10.9+ MB

In [ ]:
# Apply one-hot encoding only if columns exist
if 'listing_type' in cluster_df.columns:
    cluster_df = pd.get_dummies(cluster_df, columns=['listing_type'], prefix="listing", dtype=int)

if 'stock_type' in cluster_df.columns:
    cluster_df = pd.get_dummies(cluster_df, columns=['stock_type'], prefix="car", dtype=int)

# Encode only the top 10 makes
top_makes = cluster_df['make'].value_counts().nlargest(10).index
cluster_df['make_filtered'] = cluster_df['make'].apply(lambda x: x if x in top_makes else 'Other')
cluster_df = pd.get_dummies(cluster_df, columns=['make_filtered'], prefix='make', dtype=int)

# Drop 'make' column as it's now encoded
cluster_df.drop(columns=['make'], inplace=True, errors='ignore')

# Encode the region column
if 'region' in cluster_df.columns:
    cluster_df = pd.get_dummies(cluster_df, columns=['region'], prefix='region', dtype=int)

# Display the DataFrame to verify encoding
cluster_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109531 entries, 0 to 109530
Data columns (total 29 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   dealer_id           109531 non-null  int64
 1   Latitude            109531 non-null  float64
 2   Longitude           109531 non-null  float64
 3   vin                 109531 non-null  object
 4   model               109531 non-null  object
 5   mileage             109531 non-null  int64
 6   price               109531 non-null  int64
 7   model_year          109531 non-null  int64
 8   listing_first_date  109531 non-null  datetime64[s]
 9   listing_Active      109531 non-null  int64
 10  listing_Sold        109531 non-null  int64
 11  car_NEW             109531 non-null  int64
 12  car_USED            109531 non-null  int64
 13  make_Chevrolet      109531 non-null  int64
 14  make_Ford           109531 non-null  int64
 15  make_GMC            109531 non-null  int64
 16  make_Honda          109531 non-null  int64
 17  make_Hyundai        109531 non-null  int64
 18  make_Jeep           109531 non-null  int64
 19  make_Nissan         109531 non-null  int64
 20  make_Other          109531 non-null  int64
 21  make_Ram            109531 non-null  int64
 22  make_Toyota         109531 non-null  int64
 23  make_Volkswagen     109531 non-null  int64
 24  region_Central      109531 non-null  int64
 25  region_East         109531 non-null  int64
 26  region_North        109531 non-null  int64
 27  region_South        109531 non-null  int64
 28  region_West         109531 non-null  int64
dtypes: datetime64[s](1), float64(2), int64(24), object(2)
memory usage: 24.2+ MB

for model year convert into year

In [ ]:
total_unique_dealers = cluster_df['dealer_id'].nunique()
total_unique_dealers

349

### One-Hot encoding

In [ ]:
cluster_df.dtypes

dealer_id                     int64
Latitude                    float64
Longitude                   float64
vin                          object
model                        object
mileage                       int64
price                         int64
model_year                    int64
listing_first_date    datetime64[s]
listing_Active                int64
listing_Sold                  int64
car_NEW                       int64
car_USED                      int64
make_Chevrolet                int64
make_Ford                     int64
make_GMC                      int64
make_Honda                    int64
make_Hyundai                  int64
make_Jeep                     int64
make_Nissan                   int64
make_Other                    int64
make_Ram                      int64
make_Toyota                   int64
make_Volkswagen               int64
region_Central                int64
region_East                   int64
region_North                  int64
region_South                  int64
region_West                   int64
dtype: object

In [ ]:
cluster_df.shape

(109531, 24)

In [ ]:
cluster_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109531 entries, 0 to 109530
Data columns (total 29 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   dealer_id           109531 non-null  int64
 1   Latitude            109531 non-null  float64
 2   Longitude           109531 non-null  float64
 3   vin                 109531 non-null  object
 4   model               109531 non-null  object
 5   mileage             109531 non-null  int64
 6   price               109531 non-null  int64
 7   model_year          109531 non-null  int64
 8   listing_first_date  109531 non-null  datetime64[s]
 9   listing_Active      109531 non-null  int64
 10  listing_Sold        109531 non-null  int64
 11  car_NEW             109531 non-null  int64
 12  car_USED            109531 non-null  int64
 13  make_Chevrolet      109531 non-null  int64
 14  make_Ford           109531 non-null  int64
 15  make_GMC            109531 non-null  int64
 16  make_Honda          109531 non-null  int64
 17  make_Hyundai        109531 non-null  int64
 18  make_Jeep           109531 non-null  int64
 19  make_Nissan         109531 non-null  int64
 20  make_Other          109531 non-null  int64
 21  make_Ram            109531 non-null  int64
 22  make_Toyota         109531 non-null  int64
 23  make_Volkswagen     109531 non-null  int64
 24  region_Central      109531 non-null  int64
 25  region_East         109531 non-null  int64
 26  region_North        109531 non-null  int64
 27  region_South        109531 non-null  int64
 28  region_West         109531 non-null  int64
dtypes: datetime64[s](1), float64(2), int64(24), object(2)
memory usage: 24.2+ MB

In [ ]:
cluster_df.to_csv("cluster_df.csv", index=False)